In [15]:
import numpy as np
import pandas as pd
from pydataset import data

In [16]:
df = data('iris')

In [19]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [ ]:
# write a function that outputs the maximum value for petal length 
# on species that are only in virginica or setosa

In [18]:
# we want to pass in an argument of our dataframe
# we want to return either a row or a raw value --> 
# determine how we get our calculations here

In [ ]:
# constructing:
# def myfunction(df):
#      do our thing--> df[(df.species == Setosa) | (df.species == 'virginica')].petal_length.max()
#      ourmax = that calculation
#      return ourmax